html,
body {
	height: 100%;
}

::selection {
	background: #3c4044;
}

body {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #3c4044;
	overflow-x: hidden;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 1920px;
	margin: 0 auto;
}

.design-title {
	font-weight: 900;
	font-size: 100px;
	line-height: 80px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 0px 10px 50px rgba(49, 59, 68, 0.25);
}

.title {
	@extend %title;
	text-transform: uppercase;
	text-align: center;
}
