//
//  COLOR styles
//
$blue: #bbe0ff;
$yellow: #fff2c3;

//
//  RADIAL-GRADIENT styles
//
%grad-blue {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 125, 231, 0.5) 0%, rgba(0, 125, 231, 0) 100%);
}
%grad-yellow {
  background: radial-gradient(50% 50% at 50% 50%, rgba(254, 210, 61, 0.5) 0%, rgba(254, 210, 61, 0) 100%);
}
