@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  position: relative;
  overflow: hidden;
}
.header-menu {
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
  height: 56px;
  box-sizing: content-box;
}
.header-menu__close {
  display: none;
  cursor: pointer;
}
.header-menu__logo {
  width: 180px;
  height: 56px;
}
.header-menu__menu {
  width: 100%;
  height: 56px;
}
.menu {
  display: inline-block;
}
.menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.menu__item {
}
.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #4f4c4c;
}
.header-menu__social {
  display: flex;
  height: 56px;
  min-width: 312px;
}
.header-menu__social-contact {
  border-left: 2px solid #007de7;
  padding-left: 19px;
  a {
    color: #4f4c4c;
  }
}
.header-menu__social-contact-tel {
  color: #4f4c4c;
  @extend %title-mini;
  margin-bottom: 12px;
  display: inline-block;
}
.header-logo {
  margin: 141px 0 153px;
  img {
    margin: 0 auto;
  }
}
.header-button {
  display: none;
  width: 50px;
  height: 50px;
  margin: 0 15px;
  min-width: 50px;
  cursor: pointer;
  background-image: url(../images/modular-blur-3-copy.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    background-color: #4f4c4c;
    height: 2px;
    width: 25px;
    display: block;
    margin-bottom: 4px;
  }
}
.header__blur-blue {
  z-index: -1;
  position: absolute;
  background-image: url(../images/big-header-blur-blue.svg);
  background-repeat: no-repeat;
  width: 100%;
  min-width: 848px;
  height: 988px;
  top: 0;
  left: -80px;
}
.header__blur-yellow {
  z-index: -1;
  position: absolute;
  background-image: url(../images/big-header-blur-yellow.svg);
  background-repeat: no-repeat;
  width: 100%;
  max-width: 894px;
  height: 819px;
  top: 90px;
  right: -430px;
  &::before {
    position: absolute;
    content: "";
    background-image: url(../images/big-header-blur-yellow-additional.svg);
    background-repeat: no-repeat;
    top: -90px;
    right: 390px;
    width: 338px;
    height: 335px;
  }
}
.header-info {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  top: -45px;
}
.header-info__inner {
  padding-bottom: 50px;
}
.header-info__title {
  z-index: 2;
  height: 90px;
  width: 1000px;
  border-radius: 60px;
  @extend %title;
  line-height: 85px;
  position: relative;
  text-transform: uppercase;
  &--blue {
    background-color: $blue;
    transform: translate(-9%, 50%);
    text-align: right;
    padding-right: 38px;
  }
  &--yellow {
    background-color: $yellow;
    transform: translate(9%, 50%);
    text-align-last: left;
    padding-left: 23px;
  }
}
.header-info__content {
  z-index: 1;
  width: 1000px;
  height: 312px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 10px 50px rgba(49, 59, 68, 0.15);
  backdrop-filter: blur(2px);
  position: relative;
  border-radius: 40px;
}
.header-info__content--blue {
  transform: translateX(-1%);
  padding: 81px 80px 0 460px;
  p {
    width: 465px;
    margin-bottom: 25px;
    @extend %parag;
    position: relative;
    z-index: 1;
    span {
      font-weight: 700;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      width: 48px;
      height: 47px;
      top: 7px;
      left: -35px;
      background-image: url(../images/header-blur-mini-blue.svg);
    }
  }
  & .header-info__content--p1::before {
    top: -10px;
  }
}
.header-info__content--yellow {
  transform: translateX(1%);
  text-align: center;
  padding-left: 100px;
  padding-top: 100px;
  p {
    width: 480px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    position: relative;
    z-index: 1;
    span {
      font-weight: 700;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      width: 251px;
      height: 262px;
      top: -45px;
      left: 105px;
      background-image: url(../images/header-blur-mini-yellow.svg);
    }
  }
}
.essence {
  position: relative;
}
.essence__inner {
  background-image: url(../images/essence-bg.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
  height: 834px;
  position: relative;
  z-index: -4;
  padding-top: 150px;
  top: -95px;
  &::before {
    position: absolute;
    content: "";
    background-image: url(../images/big-header-blur-blue-additional.svg);
    background-repeat: no-repeat;
    top: -360px;
    left: -20px;
    width: 534px;
    height: 639px;
  }
}
.essence__info {
  width: 680px;
  height: 412px;
  padding: 40px 50px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 10px 50px rgba(49, 59, 68, 0.15);
  border-radius: 50px;
  position: relative;
  top: 50px;
  left: 570px;
}
.essence__title {
  text-align: left;
}
.essence__info-text {
  padding-top: 31px;
  @extend %parag;
}
.essence__circle-yellow {
  position: absolute;
  width: 1052px;
  height: 1052px;
  left: -355px;
  top: 108px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(254, 210, 61, 0.5) 0%, rgba(254, 210, 61, 0) 100%);
}

.practice {
  padding-bottom: 163px;
  overflow: hidden;
}
.practice__inner {
  position: relative;
  top: 43px;
}
.practice__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.practice__item {
  position: relative;
}
.practice__info {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  height: 100px;
  &.practice__info--1 {
    top: 40px;
    left: 170px;
  }
  &.practice__info--2 {
    top: -85px;
    left: 75px;
  }
  &.practice__info--3 {
    top: -30px;
    left: 125px;
  }
  &.practice__info--4 {
    top: 17px;
    left: 125px;
  }
}
.practice__info-btn {
  width: 32px;
  height: 32px;
  background-image: url(../images/info.svg);
  margin-right: 12px;
  cursor: pointer;
  &.active + .practice__info-text {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.1s;
  }
}
.practice__info-text {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  width: 280px;
  height: 100px;
  left: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 10px 50px rgba(49, 59, 68, 0.15);
  padding: 26px 30px;
  border-radius: 0 10px 10px 0;
  border-left: 3px solid #017ce4;
  backdrop-filter: blur(4px);
}
.practice__line--1 {
  left: 340px;
}
.practice__line--2 {
  left: 740px;
}
.practice__line--3 {
  transform: rotate(90deg);
  right: 71px;
  top: -40px;
  width: 130px;
  img {
    left: 120px;
  }
}
.practice__info-block {
  width: 780px;
  height: 174px;
  box-shadow: 0px 10px 50px rgba(49, 59, 68, 0.15);
  border-radius: 50px;
  padding: 50px;
  background: rgba(255, 255, 255, 1);
  $border: 4px;
  background-clip: padding-box;
  border: solid $border transparent;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(to right, rgba(187, 220, 249, 1), rgba(255, 243, 205, 1));
  }
}
.practice__info-block-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.practice__info-block-text {
  padding-top: 8px;
}
.practice__circle-blue {
  position: absolute;
  width: 931px;
  height: 931px;
  right: -407px;
  top: 1504px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 125, 231, 0.3) 0%, rgba(0, 125, 231, 0) 100%);
  z-index: -1;
}
.history {
  height: 531px;
  margin-bottom: 125px;
}
.history__inner {
  background-image: url(../images/history-bg.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-y: 60px;
  height: inherit;
}
.history__title {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 172px;
    height: 172px;
    left: 725px;
    top: -10px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 125, 231, 0.5) 0%, rgba(0, 125, 231, 0) 100%);
  }
}
.history__design-title {
  z-index: 2;
  margin-top: 35px;
  text-align: center;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 144px;
    height: 144px;
    left: 825px;
    top: 30px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(254, 210, 61, 0.5) 0%, rgba(254, 210, 61, 0) 100%);
  }
}
.history__list-blocks {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  position: relative;
}
.history__line--1 {
  left: 110px;
  top: -40px;
  transform: rotate(137deg);
}
.history__line--2 {
  right: 680px;
  top: -40px;
  width: 120px;
  transform: rotate(90deg);
  img {
    left: 100px;
    top: -11px;
  }
}
.history__line--3 {
  right: 380px;
  top: -40px;
  width: 120px;
  transform: rotate(90deg);
  img {
    left: 100px;
    top: -11px;
  }
}
.history__line--4 {
  right: 110px;
  top: -40px;
  transform: rotate(43deg);
}
.history__block {
  width: 280px;
  height: 179px;
  text-align: center;
  &:nth-child(odd) .history__block-title {
    background: $blue;
  }
  &:nth-child(even) .history__block-title {
    background: $yellow;
  }
}
.history__block-title {
  width: 240px;
  height: 55px;
  border-radius: 30px;
  padding: 13px 0 12px;
  margin: 0 auto;
  transform: translateY(50%);
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.history__block-text {
  width: 280px;
  height: 150px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 10px 50px rgba(49, 59, 68, 0.15);
  backdrop-filter: blur(2px);
  border-radius: 50px;
  padding: 39px 20px 15px;
}
.modular {
  background-image: url(../images/modulat-bg.jpg);
  background-repeat: no-repeat;
  background-position: 650px;
  background-size: auto;
  min-height: 746px;
  padding-bottom: 40px;
}
.modular__inner {
  display: flex;
  height: 760px;
}
.modular__list-blocks {
  display: flex;
  position: relative;
  top: -30px;
  left: -50px;
  width: 640px;
}
.modular__block-section {
  &--1st {
    position: relative;
    left: 50px;
    & .modular__block:nth-child(1) {
      left: 90px;
      top: 20px;
    }
    & .modular__block:nth-child(3) {
      top: -140px;
    }
  }
}
.modular__block {
  text-align: center;
  background-image: url(../images/modular-blur-1.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 350px;
  height: 340px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 235px;
  padding: 0 35px;
  position: relative;
  &--m {
    background-image: url(../images/modular-blur-2.svg);
    height: 280px;
    width: 250px;
  }
  &--s {
    background-image: url(../images/modular-blur-3.svg);
    height: 260px;
    width: 250px;
  }
  &:nth-child(2) {
    bottom: 67px;
  }
  &:nth-child(3) {
    bottom: 157px;
  }
}
.modular__block-title {
  @extend %title-mini;
}
.modular__block-text {
  margin-top: 11px;
  max-width: 260px;
}
.modular__title {
  text-align: left;
}
.location {
  padding-bottom: 147px;
}
.location__title {
  margin-bottom: 39px;
}
.location__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.location__img {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 50px 0px 0px 50px;
  box-shadow: 0px 10px 50px rgba(49, 59, 68, 0.15);
  &:nth-child(1) {
    transform: translateX(-1%);
    border-radius: 0px 50px 50px 0px;
  }
  &:nth-child(2) {
    transform: translateX(1%);
    border-radius: 50px 0px 0px 50px;
  }
}
.location__info {
  position: absolute;
  text-align: center;
  background-image: url(../images/modular-blur-1.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 350px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 39px;
  color: #000;
}
.progress {
  padding-bottom: 139px;
}
.progress__title {
}
.progress__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.progress__info-item {
  text-align: center;
  width: 340px;
  height: 310px;
  img {
    margin: 0 auto;
  }
  p {
    position: relative;
    bottom: 45px;
  }
}
.progress__subtitle {
}
.progress__gallery {
  img {
    margin: 0 auto;
  }
}
.about {
  padding-bottom: 122px;
}
.about__inner {
  background-image: url(../images/about-bg.svg);
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
}
.about__info {
  width: 1180px;
  height: 341px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 10px 50px rgba(49, 59, 68, 0.15);
  backdrop-filter: blur(2px);
  border-radius: 50px;
  padding: 39px 50px 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
  p {
    color: #000;
  }
}
.about__info-wrap {
  width: 525px;
}
.about__title {
  text-align: left;
  margin-bottom: 33px;
}
.about__info-block {
  margin-top: 14px;
  width: 530px;
  height: 137px;
  box-shadow: 0px 10px 50px rgba(49, 59, 68, 0.15);
  border-radius: 50px;
  padding: 25px;
  background: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000;
  $border: 4px;
  background-clip: padding-box;
  border: solid $border transparent;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(to right, rgba(187, 220, 249, 1), rgba(255, 243, 205, 1));
  }
}
.about__people {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.about__people-item {
  position: relative;
  height: 350px;
  width: 220px;
}
.about__people-item-img {
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 42.02%, #ffffff 74.18%);
  &::before {
    z-index: -1;
    position: absolute;
    content: "";
    top: -30px;
    left: -20px;
    right: 0;
    bottom: 0;
    width: 263px;
    height: 241px;
    background-image: url(../images/people-blur-yellow-blue.svg);
  }
  img {
    max-width: 210px;
    max-height: 250px;
    margin: 0 auto;
    position: relative;
    z-index: -1;
  }
}
.about__people-info {
  background-image: url(../images/people-blur.svg);
  background-size: auto;
  background-repeat: no-repeat;
  width: 300px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000;
  text-align: center;
  padding: 25px 0 0 20px;
  position: absolute;
  top: 80px;
  left: -50px;
  span {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
    max-width: 180px;
  }
}
.about__people-info-text {
  font-size: 14px;
  max-width: 150px;
}
.partners {
  padding-bottom: 150px;
}
.partners__title {
  margin-bottom: 40px;
}
.partners__slider-wrapper,
.slick-list,
.partners__slider {
  height: 250px;
}
.partners__slider {
  width: 1200px;
  margin: 0 auto;
}
.partners__slider-item {
  width: 380px;
  height: 200px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 10px 13px rgba(49, 59, 68, 0.15);
  border-radius: 50px;
  margin-right: 20px;
  margin-top: 30px;
}
.partners__slider-item-inner {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-arrow {
  width: 31px;
  height: 42px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  &::before {
    content: "";
  }
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
  background-image: url(../images/arrow-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: -60px;
}
.slick-next,
.slick-next:hover,
.slick-next:focus {
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  right: -60px;
}
.footer {
}
.footer__inner {
  background-image: url(../images/footer-bg.jpg);
  background-position: bottom;
  background-size: auto;
  background-repeat: no-repeat;
}
.footer__title {
  text-align: center;
  margin-bottom: 14px;
}
.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  max-width: 1050px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.footer__contact-block {
  width: 250px;
  text-align: center;
  a {
    color: #4f4c4c;
    position: relative;
    top: -30px;
  }
}
.footer__contact-block-icon {
}
.footer__contact-block-tel {
  color: #4f4c4c;
  @extend %title-mini;
  // margin-bottom: 12px;
  display: inline-block;
}
.footer__social .social-icon__link {
  margin: 0 12px;
}
.footer__aid-btn {
  width: 380px;
  height: 70px;
  margin: 0 auto;
  background: linear-gradient(92.25deg, #b9dbf8 6.84%, #ffefbb 93.67%);
  box-shadow: 0px 10px 50px rgba(36, 64, 75, 0.15);
  border-radius: 35px;
  border: none;
  margin: 0 auto;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.footer__modal {
  display: none;
  width: 380px;
  height: 356px;
  box-shadow: 0px 10px 50px rgba(49, 59, 68, 0.15);
  backdrop-filter: blur(2px);
  border-radius: 50px;
  position: relative;
  &-title {
    margin-top: 135px;
  }
  img {
    position: absolute;
    top: -135px;
  }
  p {
    margin-top: 35px;
    color: #000;
    text-align: center;
  }
}
.fancybox__content {
  padding: 0 50px;
}
.fancybox__content > .carousel__button.is-close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #000;
}
.fancybox__backdrop {
  background: rgba(237, 247, 255, 0.7);
}
.footer__donate {
  display: flex;
  margin-top: 140px;
  padding-bottom: 150px;
}
.footer__donate-money {
  min-width: 680px;
}
.footer__title {
  margin-bottom: 39px;
}
.donate-money {
  margin-right: 10px;
}
.donate-money__tabs {
}
.donate-money__list-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.donate-money__list-tabs-link {
  z-index: 0;
  a {
    width: auto;
    min-width: 100px;
    height: 70px;
    background: #b9dbf8;
    box-shadow: 0px 10px 50px rgba(36, 64, 75, 0.15);
    border-radius: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #4f4c4c;
    border: 4px solid transparent;
  }
}
.ui-tabs-active {
  a {
    background: rgba(255, 255, 255, 1);
    $border: 4px;
    background-clip: padding-box;
    border: $border solid transparent;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: linear-gradient(to right, rgba(187, 220, 249, 1), rgba(255, 243, 205, 1));
    }
  }
}

.donate-money__tab-item {
  display: flex;
  justify-content: space-between;
}
.donate-money__link {
  width: 330px;
  height: 200px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 10px 50px rgba(49, 59, 68, 0.15);
  backdrop-filter: blur(2px);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 103px;
}
.donate-money__copyright {
  display: flex;
  justify-content: space-between;
  color: #000;
  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }
}
.donate-money__confidentiality {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000;
}
.footer__donate-form {
  margin-left: 20px;
}
.donate-form {
  margin-left: 10px;
}
.donate-form__form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 480px;
  height: 440px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 10px 50px rgba(49, 59, 68, 0.15);
  backdrop-filter: blur(2px);
  border-radius: 50px;
}
.donate-form__input {
  width: 420px;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(36, 64, 75, 0.15);
  border-radius: 35px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  padding: 0 28px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #4f4c4c;
}
.donate-form__label {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #4f4c4c;
}
.donate-form__labelinput {
}
.donate-form__btn {
  width: 420px;
  height: 70px;
  background: linear-gradient(92.25deg, #b9dbf8 6.84%, #ffefbb 93.67%);
  box-shadow: 0px 10px 50px rgba(36, 64, 75, 0.15);
  border-radius: 35px;
  color: #4f4c4c;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

@import "mobile";
